.task {
    margin-bottom: 1rem;
}

.task span.completed {
    text-decoration: line-through;
    text-align: start;
    
}
.name {
    color: black;
    font-weight: bold;
    font-size: large;
}
.description {
    color: #474747;
}

.task label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}
.task i {
    z-index: 2;
}